<% @world.gridsquares.each do |gridsquare| %>
  <div class="cell">
    <h3>Cell: (<%= gridsquare.row %>, <%= gridsquare.col %>)</h3>

    <% if gridsquare.image.attached? %>
      <div class="image-container">
        <%= image_tag rails_blob_path(gridsquare.image, only_path: true), alt: "Generated Image for Cell (#{gridsquare.row}, #{gridsquare.col})", class: "cell-image" %>
      </div>
    <% else %>
      <p>No image available</p>
    <% end %>

    <!-- Remove the description part if not needed -->
    <p>No description available</p>
  </div>
<% end %>