.alert {
  background-color: #F97316;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.alert_spacer {
  width: 20px;
}
.alert_icon {
  width: 30px;
  height: 30px;
}