.alert {
  background-color: #f97316;
  color: black;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.alert_spacer {
  width: 20px;
}
.alert_icon {
  width: auto;
  height: auto;
  padding-right: 10px;
}

.login_alert_box {
  position: relative;
  bottom: 20vh;
}
.signup_alert_box {
  position: relative;
  bottom: 10vh;
}

.world-creation-alert-box {
  position: relative;
  padding: 10px;
}

.shard-alert-box {
  position: relative;
  padding: 10px;
}
