.button {
  padding: 10px 20px;
  background-color: #518BC4;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #4e7481;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
  background-color: #7ebacf;
  transform: scale(1.05);
  }

  &:active {
  background-color: #6a9dae;
  transform: scale(0.98);
  }
}

.secondary_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #518BC4;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #1d465d;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #22729c;
    transform: scale(1.05);
  }

  &:active {
    background-color: #27607e;
    transform: scale(0.98);
  }
}

.game_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #518BC4;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #1d465d;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #22729c;
    transform: scale(1.05);
  }

  &:active {
    background-color: #27607e;
    transform: scale(0.98);
  }
}

.small_button {
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #718096;
    transform: scale(1.05);
  }
}

.highlight_button {
  padding: 10px 20px;
  background-color: #090e1c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #03192c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #254177;
    transform: scale(1.05);
  }

  &:active {
    background-color: #6a9dae;
    transform: scale(0.98);
  }
}

.tab_button {
  padding: 10px 20px;
  background-color: #0e162c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #254177;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #254177;
    transform: scale(1.05);
  }

  &:active {
    background-color: #6a9dae;
    transform: scale(0.98);
  }
}

.purchase-button {
  background-color: #7a90bf;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #2e7195;
    transform: scale(1.02);
  }

  &:active {
    background-color: #6a9dae;
    transform: scale(0.98);
  }
}

.world_add_button {
  padding: 10px 20px;
  background-color: #2d3748;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #1d465d;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;

  &:hover {
    background-color: #2e7195;
    transform: scale(1.02);
  }

  &:active {
    background-color: #27607e;
  }
}

.login {
  padding: 10px;
  text-align: center;
  width: 130px;
  height: 40px;
}

.big-circle-button {
  width: 50px;
  height: 50px;
  border-bottom: solid 2px black;
  background-color: #7a90bf;
  color: black;
  border-radius: 50%;
  font-size: 35px;
  display: flex;
  margin: 15px 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: top;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #2e7195;
    transform: scale(1.15);
  }

  &:active {
    background-color: #6a9dae;
  }
}

.accept_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #2ba62e;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #1f7520;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #2fb333;
    transform: scale(1.05);
  }

  &:active {
    background-color: #33cd38;
    transform: scale(0.98);
  }
}

.not_accept_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #a62b2b;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #751f1f;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: #b32f2f;
    transform: scale(1.05);
  }

  &:active {
    background-color: #cd3333;
    transform: scale(0.98);
  }
}