.grid_container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 115px);
    gap: 10px; /* Optional: Adds space between cells if needed */
}

.grid_row {
    display: flex;
}

.grid_cell {
    width: 115px;
    height: 115px;
    border: 1px solid;
    position: relative;
    overflow: hidden; /* Ensures content doesn't overflow from the grid cell */
}

.empty_cell {
    background-color: white;
    &:hover {
        background-color: #c8c8c8;
        cursor: pointer;
    }
}

.filled_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
    &:hover {
        background-color: #686868;
        cursor: pointer;
    }
}

.grid_image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the cell without distortion */
}

.hidden {
    display: none;
}
