.grid_container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 115px);
    z-index: 1;
}

.grid_row {
    display: flex;
}

.grid_cell {
    width: 115px;
    height: 115px;
    border: 1px solid;
    position: relative;
    overflow: hidden; /* or auto, scroll */
}

.empty_cell {
    background-color: #f0f0f0;

    &:hover {
        filter: brightness(80%);
        cursor: pointer;
    }
}

.filled_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
    &:hover {
        filter: brightness(80%);
        cursor: pointer;
    }
}

.grid_image {
    height: 100%;
    &:hover {
        filter: brightness(80%);
        cursor: pointer;
    }
}

.hidden {
    // 
    display: none;
}