.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4199b1;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid_container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 115px);
}

.grid_row {
    display: flex;
}

.grid_cell {
    width: 115px;
    height: 115px;
    border: 1px solid;

    &:hover {
    background-color: #ddd;
    cursor: pointer;
    }
}

.empty_cell {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

.filled_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909090;
    width: 100%;
    height: 100%;
}
