.textbox {
  background-color: #7a90bf;
}

.radio-text {
  float: left;
}

.choice-text {
  display: flex;
}

.radio-group {
  column-count: 2;
}

.textbox-center-large-size {
  background-color: #7a90bf;
  font-size: 25px;
  font-weight: bold;
  float: left;
  text-align: center;
  height: 40px;
  margin: 30px;
}