.textbox {
  background-color: #a3b7c9;
}

.radio-text {
  float: left;
}

.textbox-center-large-size {
  background-color: #a3b7c9;
  font-size: 25px;
  font-weight: bold;
  float: left;
  text-align: center;
  height: 40px;
  margin: 30px;
}