.game_toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #718CA5;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile_toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100px;
  padding: 10px;
  background-color: #718ca5;
  margin-bottom: 20px;
}

.center-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  div {
    margin: 5px 0;
  }
}