.game_toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000a1a; // #1b1c1c; // #718ca5; top toolbar after joining world
  color: #d1d1d1;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile_toolbar {
  display: flex;
  color: #d1d1d1;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100px;
  padding: 10px;
  background-color: #090e1c; //#1b1c1c;
}

.center-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  div {
    margin: 5px 0;
  }
}

.right-stack {
  float: right;
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 0;
}

.left-stack {
  float: left;
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: relative;
  left: 0;
}

.game-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1999ae;
  border: 5px solid #2e7195;
  padding: 10px;
  margin-right: 3px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  z-index: 10;
  width: 75%;
  bottom: 0;
  left: 11%;
  border-radius: 10px;
  zoom: 1.25;
}