body::-webkit-scrollbar {
  width: 0;
  background: transparent;
  margin: 0;
  -ms-overflow-style: none;
}

.nav-container {
  overflow: hidden;
}

.tab {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #000a1a; // #1b1c1c; #718ca5;
  overflow: hidden;
}

.tab_content {
  display: none;
  padding: 6px 12px;
  border-top: none;

  &.active {
    display: block;
  }
}

.world_box {
  background-color: #7a90bf;
  color: black;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 50%;
  text-align: center;
}

.friend_box {
  background-color: #A7BCC7;
  color: white;
  border: 1px solid #000;
  padding: 10px;
  margin: 2px;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend_left {
  float: left;
  margin: auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: relative;
  left: 0;
  gap: 10px;
}

.friend_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  div {
    margin: 5px 0;
  }
}

.friend_right {
  float: right;
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 0;
}

.box-numeric {
  margin: 20px 20px;
  width: 100px;
  height: 35px;
  border: 2px solid #dddcdc;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
}

.scroll-independent-div-br {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.scroll-independent-div-bl {
  position: fixed;
  bottom: 25px;
  left: 25px;
}

.scroll-independent-div-tl {
  position: fixed;
  top: 10px;
  left: 10px;
}

.scroll-independent-div-cl {
  position: fixed;
  left: 10px;
  top: 30%;
}

.scroll-independent-div-hl {
  position: fixed;
  left: 10px;
  top: 10%;
}

.scroll-independent-div-cr {
  position: fixed;
  right: 10px;
  top: 30%;
}

.scroll-independent-div-center {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
}

.lower-div-after-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
  flex-direction: column;
}

.purchase-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  background-color: #455a85;

  div {
    margin-bottom: 15px;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
}
